#container {  display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Image heading"
      "contact skills-title"
      "contact skills-content"
      "contact experience-title"
      "contact experience-content"
      "contact education-title"
      "contact education-content";
      background-color: blanchedalmond;
      /*background-image: url('https://img.freepik.com/premium-vector/manga-neon-anime-action-frame-lines-with-halftones-colored-pop-art-retro-background-with-exploding-rays-lightning-comic-style-vector-illustration-abstract-explosive-template-with-speed-lines_499433-525.jpg?w=1800');
    color: rgb(128, 24, 24); /* just to see for now */
  border: 8px solid red;  
  }

    img {
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow:
        0 0 60px 30px #08e4c0,  /* inner white */
        0 0 100px 60px #f0f, /* middle magenta */
        0 0 140px 90px rgb(174, 19, 221); /* outer cyan */
      width: 80%;
      border-radius: 45%;
      border: cornflowerblue;
    }
  
    .heading > h1 { display: flex;
      align-items: center;
      justify-content: center;
      border: 8px solid black;

    }
    
    .jobtitle {display: flex;
      border: 8px solid blue;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
    }

    .contact { display: grid;
      grid-template-columns: 1;
      grid-template-rows: 4;
      grid-column-start 1;
      grid-row-start: 3;
      border: 8px solid green;
    }

    .aboutme {
      border: 8px solid yellow;
    }

    .aoe {display: flex;
      flex-direction: column;
      align-items: center;
      border: 8px solid purple;
      align-content: space-between 2px;
    }

    .profhis { display: flex;
      flex-direction: column;
      border: 8px solid orange;
    }

    .profhis { display: flex;
    justify-content: center;
    }

    .edushis {display: flex;
      flex-direction: column;
      border: 8px solid white;
    }

    h1 , h2 , h3 , h4 { display: flex;
    justify-content: center;
  }

    .reflink {
      border: 8px solid cyan;
    }