body {  display: grid;
    grid-template-columns: 25% 50%;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Image heading"
      "contact skills-title"
      "contact skills-content"
      "contact experience-title"
      "contact experience-content"
      "contact education-title"
      "contact education-content"
      background-image: url('https://img.freepik.com/premium-vector/manga-neon-anime-action-frame-lines-with-halftones-colored-pop-art-retro-background-with-exploding-rays-lightning-comic-style-vector-illustration-abstract-explosive-template-with-speed-lines_499433-525.jpg?w=1800');
    color: red; /* just to see for now */
    }

    img {
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow:
        0 0 60px 30px #08e4c0,  /* inner white */
        0 0 100px 60px #f0f, /* middle magenta */
        0 0 140px 90px rgb(174, 19, 221); /* outer cyan */
      width: 80%;
      border-radius: 45%;
    }

   {

  }
  .image { grid-area: image;
  }
  
  .heading { grid-area: heading; }
  
  .contact { grid-area: contact; }
  
  .skills-title { grid-area: skills-title; }
  
  .skills-content { grid-area: skills-content; }
  
  .experience-title { grid-area: experience-title; }
  
  .experience-content { grid-area: experience-content; }
  
  .education-title { grid-area: education-title; }
  
  .education-content { grid-area: education-content; }
  